project:
  type: website
  output-dir: docs

website:
  title: "DC Heritage Cherry Trees"
  navbar:
    left:
      - href: index.qmd
        text: About
      - href: map.qmd
        text: Map

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



